In [1]:
# import csv
# with open('data/segments-icw-head-cj-mh-2020-08-20.csv', newline='') as csvfile:
#     spamreader = csv.reader(csvfile, delimiter=',', quotechar='"')
#     for row in spamreader:
#         print(', '.join(row))

In [2]:
import pandas as pd
df = pd.read_csv('data/segments-icw-cj-mh-2020-08-20.csv', sep=',')
df.head()

,DNA-matchnings-ID,Namn,Matchnamn,Kromosom,Starta plats,Avsluta plats,Börja RSID,Avsluta RSID,Centimorgan,Snp's
0,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,1,105063644,180233647,rs12042136,rs357051,63.7,25856
1,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,1,203115832,224881828,rs6686206,rs1436171,27.5,12160
2,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,1,234382599,242042374,rs12119646,rs191573829,18.7,5504
3,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,2,7921970,122966157,rs6745856,rs6751865,121.8,57344
4,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,2,151001420,243068403,rs330586,rs140927403,102.0,47743

In [3]:
# df.columns
df = df.rename(
    columns={
        # MyHeritage (svenska bulk):
        'DNA-matchnings-ID': 'Match ID',
        'Namn': 'Name',
        'Matchnamn': 'Match',
        'Kromosom': 'Chr',
        'Starta plats': 'Start',
        'Avsluta plats': 'End',
        'Börja RSID': 'Start RSID',
        'Avsluta RSID': 'End RSID',
        'Centimorgan': 'cM',
        'Snp\'s': 'SNPs',
        # MyHeritage (Chromosome browser):
        'Match Name': 'Match',
        'Chromosome': 'Chr',
        'Start Location': 'Start',
        'End Location': 'End',
        'Centimorgans': 'cM',
        # FamilyTreeDNA:
        'Matching SNPs': 'SNPs'
    }
)
# We could also add these columns from DNA Painter:
# Confidence, Group, Side, Notes, Colour
df.head()

,Match ID,Name,Match,Chr,Start,End,Start RSID,End RSID,cM,SNPs
0,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,1,105063644,180233647,rs12042136,rs357051,63.7,25856
1,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,1,203115832,224881828,rs6686206,rs1436171,27.5,12160
2,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,1,234382599,242042374,rs12119646,rs191573829,18.7,5504
3,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,2,7921970,122966157,rs6745856,rs6751865,121.8,57344
4,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,2,151001420,243068403,rs330586,rs140927403,102.0,47743

In [4]:
54957735 in pd.Interval(54957731, 58023328, closed='both')

True

In [5]:
df['Interval'] = df.apply(
    lambda row: pd.Interval(row['Start'], row['End'], closed='both'),
    axis='columns'
)
df.head()

,Match ID,Name,Match,Chr,Start,End,Start RSID,End RSID,cM,SNPs,Interval
0,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,1,105063644,180233647,rs12042136,rs357051,63.7,25856,"[105063644, 180233647]"
1,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,1,203115832,224881828,rs6686206,rs1436171,27.5,12160,"[203115832, 224881828]"
2,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,1,234382599,242042374,rs12119646,rs191573829,18.7,5504,"[234382599, 242042374]"
3,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,2,7921970,122966157,rs6745856,rs6751865,121.8,57344,"[7921970, 122966157]"
4,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,2,151001420,243068403,rs330586,rs140927403,102.0,47743,"[151001420, 243068403]"

In [6]:
df[df['Chr'] == 22]

,Match ID,Name,Match,Chr,Start,End,Start RSID,End RSID,cM,SNPs,Interval
28,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros,22,16055122,51214796,rs117246541,rs190639024,74.1,22399,"[16055122, 51214796]"
63,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-8F6DA...,Carl-Johan Sveningsson,Malin Sveningsson,22,19677822,49684580,rs5992460,rs2187753,60.5,19456,"[19677822, 49684580]"
82,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-AB7A0...,Carl-Johan Sveningsson,Andreas Holmgren,22,18502566,35177350,rs117233348,rs137294,33.3,9984,"[18502566, 35177350]"
104,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-A4504...,Carl-Johan Sveningsson,Svening Svenningson,22,16055122,23648478,rs117246541,rs2267027,20.2,3712,"[16055122, 23648478]"
105,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-A4504...,Carl-Johan Sveningsson,Svening Svenningson,22,37619543,48745675,rs6000617,rs4239939,20.1,7168,"[37619543, 48745675]"
...,...,...,...,...,...,...,...,...,...,...,...
9149,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-94444...,Carl-Johan Sveningsson,Ingelöv Rosby,22,27211572,32950053,rs2227187,rs2105865,8.2,3328,"[27211572, 32950053]"
9152,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3CBB0...,Carl-Johan Sveningsson,Jeremy Cleve Gustafson,22,27211572,32950053,rs2227187,rs2105865,8.2,3328,"[27211572, 32950053]"
9258,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-BDB31...,Carl-Johan Sveningsson,Mikayla Jennewine,22,17493293,19844671,rs2399153,rs13053155,8.1,1536,"[17493293, 19844671]"
9313,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-2DEDE...,Carl-Johan Sveningsson,David Dunn,22,17304887,19677354,rs983305,rs7285884,8.0,1536,"[17304887, 19677354]"
9320,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-7949E...,Carl-Johan Sveningsson,Jackie Pace,22,17304887,19677354,rs983305,rs7285884,8.0,1536,"[17304887, 19677354]"

In [7]:
grouped = df.groupby('Chr')

In [8]:
matches = df[['Match ID', 'Name', 'Match']].drop_duplicates()
matches.head()

,Match ID,Name,Match
0,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,Carl-Johan Sveningsson,Lars Ekros
29,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-8F6DA...,Carl-Johan Sveningsson,Malin Sveningsson
64,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-AB7A0...,Carl-Johan Sveningsson,Andreas Holmgren
83,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-A4504...,Carl-Johan Sveningsson,Svening Svenningson
106,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-04990...,Carl-Johan Sveningsson,Jörgen Hans Olof Svenningsson

In [9]:
# segments = df[['Match ID', 'Name', 'Match', 'Chr', 'Start', 'End', 'Start RSID', 'End RSID', 'cM', 'SNPs', 'Interval']]
segments = df[['Match ID', 'Chr', 'Start', 'End', 'Start RSID', 'End RSID', 'cM', 'SNPs', 'Interval']]
segments.head()

,Match ID,Chr,Start,End,Start RSID,End RSID,cM,SNPs,Interval
0,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,1,105063644,180233647,rs12042136,rs357051,63.7,25856,"[105063644, 180233647]"
1,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,1,203115832,224881828,rs6686206,rs1436171,27.5,12160,"[203115832, 224881828]"
2,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,1,234382599,242042374,rs12119646,rs191573829,18.7,5504,"[234382599, 242042374]"
3,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,2,7921970,122966157,rs6745856,rs6751865,121.8,57344,"[7921970, 122966157]"
4,D-74C86737-EDFA-45C6-8B35-CB41EE958B1D-D-3F7DD...,2,151001420,243068403,rs330586,rs140927403,102.0,47743,"[151001420, 243068403]"

In [10]:
# https://en.wikipedia.org/wiki/Single-nucleotide_polymorphism
chr_bplen = {
    1: 214066000,
    2: 222889000,
    3: 186938000,
    4: 169035000,
    5: 170954000,
    6: 165022000,
    7: 149414000,
    8: 125148000,
    9: 107440000,
    10: 127894000,
    11: 129193000,
    12: 125198000,
    13: 93711000,
    14: 89344000,
    15: 73467000,
    16: 74037000,
    17: 73367000,
    18: 73078000,
    19: 56044000,
    20: 63317000,
    21: 33824000,
    22: 33786000
}
# Chr 1 214066000 bps / 1000 samples ~ 200000 bps
{chr: range(0, bp, 200000) for chr, bp in chr_bplen.items()}

{1: range(0, 214066000, 200000),
 2: range(0, 222889000, 200000),
 3: range(0, 186938000, 200000),
 4: range(0, 169035000, 200000),
 5: range(0, 170954000, 200000),
 6: range(0, 165022000, 200000),
 7: range(0, 149414000, 200000),
 8: range(0, 125148000, 200000),
 9: range(0, 107440000, 200000),
 10: range(0, 127894000, 200000),
 11: range(0, 129193000, 200000),
 12: range(0, 125198000, 200000),
 13: range(0, 93711000, 200000),
 14: range(0, 89344000, 200000),
 15: range(0, 73467000, 200000),
 16: range(0, 74037000, 200000),
 17: range(0, 73367000, 200000),
 18: range(0, 73078000, 200000),
 19: range(0, 56044000, 200000),
 20: range(0, 63317000, 200000),
 21: range(0, 33824000, 200000),
 22: range(0, 33786000, 200000)}

In [11]:
help(pd.Interval)

Help on class Interval in module pandas._libs.interval:

class Interval(IntervalMixin)
 |  Immutable object implementing an Interval, a bounded slice-like interval.
 |
 |  Parameters
 |  ----------
 |  left : orderable scalar
 |      Left bound for the interval.
 |  right : orderable scalar
 |      Right bound for the interval.
 |  closed : {'right', 'left', 'both', 'neither'}, default 'right'
 |      Whether the interval is closed on the left-side, right-side, both or
 |      neither. See the Notes for more detailed explanation.
 |
 |  See Also
 |  --------
 |  IntervalIndex : An Index of Interval objects that are all closed on the
 |      same side.
 |  cut : Convert continuous data into discrete bins (Categorical
 |      of Interval objects).
 |  qcut : Convert continuous data into bins (Categorical of Interval objects)
 |      based on quantiles.
 |  Period : Represents a period of time.
 |
 |  Notes
 |  -----
 |  The parameters `left` and `right` must be from the same type, you must be
 |  able to compare them and they must satisfy ``left <= right``.
 |
 |  A closed interval (in mathematics denoted by square brackets) contains
 |  its endpoints, i.e. the closed interval ``[0, 5]`` is characterized by the
 |  conditions ``0 <= x <= 5``. This is what ``closed='both'`` stands for.
 |  An open interval (in mathematics denoted by parentheses) does not contain
 |  its endpoints, i.e. the open interval ``(0, 5)`` is characterized by the
 |  conditions ``0 < x < 5``. This is what ``closed='neither'`` stands for.
 |  Intervals can also be half-open or half-closed, i.e. ``[0, 5)`` is
 |  described by ``0 <= x < 5`` (``closed='left'``) and ``(0, 5]`` is
 |  described by ``0 < x <= 5`` (``closed='right'``).
 |
 |  Examples
 |  --------
 |  It is possible to build Intervals of different types, like numeric ones:
 |
 |  >>> iv = pd.Interval(left=0, right=5)
 |  >>> iv
 |  Interval(0, 5, closed='right')
 |
 |  You can check if an element belongs to it
 |
 |  >>> 2.5 in iv
 |  True
 |
 |  You can test the bounds (``closed='right'``, so ``0 < x <= 5``):
 |
 |  >>> 0 in iv
 |  False
 |  >>> 5 in iv
 |  True
 |  >>> 0.0001 in iv
 |  True
 |
 |  Calculate its length
 |
 |  >>> iv.length
 |  5
 |
 |  You can operate with `+` and `*` over an Interval and the operation
 |  is applied to each of its bounds, so the result depends on the type
 |  of the bound elements
 |
 |  >>> shifted_iv = iv + 3
 |  >>> shifted_iv
 |  Interval(3, 8, closed='right')
 |  >>> extended_iv = iv * 10.0
 |  >>> extended_iv
 |  Interval(0.0, 50.0, closed='right')
 |
 |  To create a time interval you can use Timestamps as the bounds
 |
 |  >>> year_2017 = pd.Interval(pd.Timestamp('2017-01-01 00:00:00'),
 |  ...                         pd.Timestamp('2018-01-01 00:00:00'),
 |  ...                         closed='left')
 |  >>> pd.Timestamp('2017-01-01 00:00') in year_2017
 |  True
 |  >>> year_2017.length
 |  Timedelta('365 days 00:00:00')
 |
 |  And also you can create string intervals
 |
 |  >>> volume_1 = pd.Interval('Ant', 'Dog', closed='both')
 |  >>> 'Bee' in volume_1
 |  True
 |
 |  Method resolution order:
 |      Interval
 |      IntervalMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  overlaps(...)
 |      Check whether two Interval objects overlap.
 |
 |      Two intervals overlap if they share a common point, including closed
 |      endpoints. Intervals that only have an open endpoint in common do not
 |      overlap.
 |
 |      .. versionadded:: 0.24.0
 |
 |      Parameters
 |      ----------
 |      other : Interval
 |          Interval to check against for an overlap.
 |
 |      Returns
 |      -------
 |      bool
 |          True if the two intervals overlap.
 |
 |      See Also
 |      --------
 |      IntervalArray.overlaps : The corresponding method for IntervalArray.
 |      IntervalIndex.overlaps : The corresponding method for IntervalIndex.
 |
 |      Examples
 |      --------
 |      >>> i1 = pd.Interval(0, 2)
 |      >>> i2 = pd.Interval(1, 3)
 |      >>> i1.overlaps(i2)
 |      True
 |      >>> i3 = pd.Interval(4, 5)
 |      >>> i1.overlaps(i3)
 |      False
 |
 |      Intervals that share closed endpoints overlap:
 |
 |      >>> i4 = pd.Interval(0, 1, closed='both')
 |      >>> i5 = pd.Interval(1, 2, closed='both')
 |      >>> i4.overlaps(i5)
 |      True
 |
 |      Intervals that only have an open endpoint in common do not overlap:
 |
 |      >>> i6 = pd.Interval(1, 2, closed='neither')
 |      >>> i4.overlaps(i6)
 |      False
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  closed
 |      Whether the interval is closed on the left-side, right-side, both or
 |      neither.
 |
 |  left
 |      Left bound for the interval.
 |
 |  right
 |      Right bound for the interval.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __array_priority__ = 1000
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from IntervalMixin:
 |
 |  __setstate__ = __setstate_cython__(...)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from IntervalMixin:
 |
 |  closed_left
 |      Check if the interval is closed on the left side.
 |
 |      For the meaning of `closed` and `open` see :class:`~pandas.Interval`.
 |
 |      Returns
 |      -------
 |      bool
 |          True if the Interval is closed on the left-side.
 |
 |  closed_right
 |      Check if the interval is closed on the right side.
 |
 |      For the meaning of `closed` and `open` see :class:`~pandas.Interval`.
 |
 |      Returns
 |      -------
 |      bool
 |          True if the Interval is closed on the left-side.
 |
 |  is_empty
 |      Indicates if an interval is empty, meaning it contains no points.
 |
 |      .. versionadded:: 0.25.0
 |
 |      Returns
 |      -------
 |      bool or ndarray
 |          A boolean indicating if a scalar :class:`Interval` is empty, or a
 |          boolean ``ndarray`` positionally indicating if an ``Interval`` in
 |          an :class:`~arrays.IntervalArray` or :class:`IntervalIndex` is
 |          empty.
 |
 |      Examples
 |      --------
 |      An :class:`Interval` that contains points is not empty:
 |
 |      >>> pd.Interval(0, 1, closed='right').is_empty
 |      False
 |
 |      An ``Interval`` that does not contain any points is empty:
 |
 |      >>> pd.Interval(0, 0, closed='right').is_empty
 |      True
 |      >>> pd.Interval(0, 0, closed='left').is_empty
 |      True
 |      >>> pd.Interval(0, 0, closed='neither').is_empty
 |      True
 |
 |      An ``Interval`` that contains a single point is not empty:
 |
 |      >>> pd.Interval(0, 0, closed='both').is_empty
 |      False
 |
 |      An :class:`~arrays.IntervalArray` or :class:`IntervalIndex` returns a
 |      boolean ``ndarray`` positionally indicating if an ``Interval`` is
 |      empty:
 |
 |      >>> ivs = [pd.Interval(0, 0, closed='neither'),
 |      ...        pd.Interval(1, 2, closed='neither')]
 |      >>> pd.arrays.IntervalArray(ivs).is_empty
 |      array([ True, False])
 |
 |      Missing values are not considered empty:
 |
 |      >>> ivs = [pd.Interval(0, 0, closed='neither'), np.nan]
 |      >>> pd.IntervalIndex(ivs).is_empty
 |      array([ True, False])
 |
 |  length
 |      Return the length of the Interval.
 |
 |  mid
 |      Return the midpoint of the Interval.
 |
 |  open_left
 |      Check if the interval is open on the left side.
 |
 |      For the meaning of `closed` and `open` see :class:`~pandas.Interval`.
 |
 |      Returns
 |      -------
 |      bool
 |          True if the Interval is closed on the left-side.
 |
 |  open_right
 |      Check if the interval is open on the right side.
 |
 |      For the meaning of `closed` and `open` see :class:`~pandas.Interval`.
 |
 |      Returns
 |      -------
 |      bool
 |          True if the Interval is closed on the left-side.

In [12]:
segments200k = segments.apply(
    lambda row: 200000 in row['Interval'],
    axis='columns'
)
sum(segments200k)

111